<div class="outer">
  <div class="container mt-2">

    <div class="row app-container p-2">
      <div class="col-8">
        <!-- <full-calendar [options]="calendarOptions">
          <ng-template #eventContent let-arg>
                  <b>{{arg.timeText}}</b>
                  <i>{{arg.event.title}}</i>
                </ng-template> 
        </full-calendar> -->

      </div>
      <div class="col-4">


        <div class="card border-light mb-3" style="width: 18rem;">
          <div class="card-header">
            This Month
          </div>
          <ul class="list-group list-group-flush" *ngFor="let i of lmslist let index = index;">
            <li class="list-group-item {{i.color}} log-item">{{i.title}}
              <span class="badge badge-success badge-pill">{{i.count}}</span>
            </li>

          </ul>
        </div>



        <div class="card" style="width: 18rem;">
          <div class="card-header">
            Your Leave Balance
          </div>
          <!-- *ngFor="let i of leavebal let index = index;" -->
          <ul class="list-group list-group-flush"  style="li::before {
                    color: blue;
                  }">
            <li class="list-group-item log-item">{{description}}
              <span class="badge badge-success badge-pill" style="text-align: right;">{{count}}</span>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </div>

</div>
