<!--begin::Invite user-->
<!-- <div class="d-flex ms-3">
  <a class="btn btn-flex flex-center bg-body btn-color-gray-700 btn-active-color-primary w-40px w-md-auto h-40px px-0 px-md-6"
    data-bs-toggle="modal" data-bs-target="#kt_modal_invite_friends">
    <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
      class="svg-icon svg-icon-2 svg-icon-primary me-0 me-md-2"></span>
    <span class="d-none d-md-inline">New Member</span>
  </a>
</div> -->
<!--end::Invite user-->

<!--begin::Create app-->
<!-- <div class="d-flex ms-3">
  <a class="btn btn-flex flex-center bg-body btn-color-gray-700 btn-active-color-primary w-40px w-md-auto h-40px px-0 px-md-6"
    data-bs-toggle="modal" data-bs-target="#kt_modal_create_app" id="kt_toolbar_primary_button"
    data-bs-original-title="" title="" aria-describedby="popover399151">
    <span [inlineSVG]="'./assets/media/icons/duotune/general/gen005.svg'"
      class="svg-icon svg-icon-2 svg-icon-primary me-0 me-md-2"></span>
    <span class="d-none d-md-inline">New App</span>
  </a>
</div> -->
<!--end::Create app-->


<!-- navBar -->

<!-- <nav class="navbar navbar-expand-lg   d-flex justify-content-between align-items-start" style="font-size: 16px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav" routerLinkActive="here show" style="padding-top: 1rem;">
    <ul class="navbar-nav">
      <li class="nav-item" *ngFor="let menuItem of menuItems">
         <!-- Apply the btn classes to the anchor tags for button-like styling     
        <a class=" nav-link btn btn-active-primary btn-color-gray-500 fw-bold " [routerLink]="menuItem.actionURL" [title]="menuItem.menuName" style=" font-size: 16px;">
          <i [class]="menuItem.cssClassIcon"></i> {{ menuItem.menuName }}
        </a>
      </li>
    </ul>
  


</div>
</nav>  -->
<nav class="navbar navbar-expand-lg d-flex justify-content-between align-items-start" style="font-size: 16px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav" routerLinkActive="here show" style="padding-top: 1rem;">
    <ul class="navbar-nav">
      <li *ngFor="let menuItem of menuItems" class="nav-item" 
          [ngClass]="{ 'has-submenu': menuItem.children?.length > 0 }"
          (mouseenter)="toggleSubMenu(menuItem)" 
          (mouseleave)="toggleSubMenu(menuItem)">
        <!-- Main menu item -->
        <a class="nav-link btn btn-active-primary btn-color-gray-500 fw-bold"
           [routerLink]="menuItem.actionURL"
           (click)="openSubMenu(menuItem)"  
           style="font-size: 16px;">
          <i [class]="menuItem.cssClassIcon"></i> {{ menuItem.menuName }}
        </a>

        <!-- Submenu (inside a card-like container) -->
        <div *ngIf="menuItem.children?.length > 0 && menuItem.isOpen" class="submenu-card mt-0" style="position: absolute; left: 2; z-index: 100;">
          <div class="card mt-0" style="width: 200px;">
            <div class="card-body">
              <ul class="navbar-nav">
                <li class="nav-item" >
                  <a *ngFor="let subMenu of menuItem.children" class="nav-link fw-bold"
                     [routerLink]="subMenu.actionURL" 
                     [title]="subMenu.menuName"
                     (click)="onSubMenuClick(subMenu)"
                     [ngStyle]="{
                       'color': activeSubMenu === subMenu.menuId ? '#04b440' : (hoveredSubMenu === subMenu.menuId ? '#04b440' : 'gray')
                     }"
                     (mouseenter)="onSubMenuHover(subMenu.menuId)"
                     (mouseleave)="onSubMenuLeave()">
                    <i [class]="subMenu.cssClassIcon.trim()"></i> 
                    {{ subMenu.menuName }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--begin::Chat-->
<div class="d-flex align-items-center ms-3 mt-2">
  <!--begin::Menu wrapper-->
  <div class="btn btn-icon btn-primary w-40px h-40px pulse pulse-white" id="kt_drawer_chat_toggle">
    <span [inlineSVG]="'./assets/media/icons/duotune/communication/com012.svg'" class="svg-icon svg-icon-2"></span>
    <span class="pulse-ring"></span>
  </div>
  <!--end::Menu wrapper-->
</div>

<!--end::Chat-->

<!-- begin::Theme mode -->
<!-- <app-theme-mode-switcher class="d-flex align-items-center ms-3"
  toggleBtnClass="btn btn-icon btn-primary w-40px h-40px pulse pulse-white">
</app-theme-mode-switcher> -->
<!-- end::Theme mode -->
