<div style="visibility: hidden;"> {{allCustomers.length}} </div>
<div class="card-header border-0 pt-5">
  <h3 class="card-title d-flex justify-content-between align-items-center">
    <span class="fw-bolder fs-3 mb-1">
      Customer Members Statistics<br>
      <span class="text-muted mt-1 fw-bold fs-7"> - Over 50 members</span>
    </span>
    <div class="d-flex align-items-center">
      <!-- <app-search></app-search> -->
      <a href="#" class="btn btn-sm btn-light-primary ms-2" data-bs-toggle="modal" data-bs-target="#newMemberModal">Add
        Customer
      </a>
    </div>
  </h3>
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted">
            <th class="w-25px">
              <div class="
                  form-check form-check-sm form-check-custom form-check-solid
                ">
                <input class="form-check-input" type="checkbox" value="1" data-kt-check="true"
                  data-kt-check-target=".widget-9-check" />
              </div>
            </th>
            <!-- <th class="min-w-150px">Customer ID</th> -->
            <th class="min-w-140px">Customer Name</th>
            <th class="min-w-120px">Mobile No</th>
            <th class="min-w-120px">Address</th>
            <th class="min-w-100px">Actions</th>
          </tr>
        </thead>

        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngFor="let item of dataObs$ | async ">
            <!-- dataObs$ | async -->
            <td>
              <div class="
                form-check form-check-sm form-check-custom form-check-solid
              ">
                <input class="form-check-input widget-9-check" type="checkbox" value="1" />
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="symbol symbol-45px me-5">
                  <img src="./assets/media/avatars/300-14.jpg" alt="" />
                  <!-- <img src="./assets/media/avatars/300-2.jpg" alt="" /> -->
                </div>
                <div class="d-flex justify-content-start flex-column">
                  <a href="#" class="text-gray-900 fw-bolder text-hover-primary fs-6">
                    {{item.customerName}}
                  </a>
                  <!-- <span class="text-muted fw-bold text-muted d-block fs-7">
                  HTML, JS, ReactJS
                </span> -->
                </div>
              </div>
            </td>

            <td>
              <a href="#" class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{item.mobileNumber}}
              </a>
              <!-- <span class="text-muted fw-bold text-muted d-block fs-7">
              Web, UI/UX Design
            </span> -->
            </td>
            <td>
              <a href="#" class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{item.address}}
              </a>
              <!-- <span class="text-muted fw-bold text-muted d-block fs-7">
              Web, UI/UX Design
            </span> -->
            </td>
            <td>
              <div class="d-flex justify-content-end flex-shrink-3">

                <a href="#" class="
                  btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                  me-1
                ">
                  <app-keenicon name="pencil" class="fs-3"></app-keenicon>
                </a>
                <a href="#" class="
              btn btn-icon btn-bg-light btn-active-color-primary btn-sm
            ">
                  <app-keenicon name="trash" class="fs-3"></app-keenicon>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <div class="pagination-container">
      <div class="pagination-info">
        <span>
          Showing {{ (currentPage - 1) * perPage + 1 }} to {{ getMinValue() }} of {{ totalRows }} entries
        </span>
      </div>
      <div class="d-flex justify-content-end">
        <nav aria-label="Pagination">
          <ul class="pagination ms-auto">
            <!-- Previous Button -->
            <li class="page-item" [class.disabled]="currentPage === 1" (click)="prevPage()">
              <a class="page-link" href="javascript:void(0)">«</a>
            </li>
    
            <!-- Page Numbers -->
            <li
              class="page-item"
              *ngFor="let page of pages"
              [class.active]="page === currentPage"
              (click)="changePage(page)"
            >
              <a class="page-link" href="javascript:void(0)">{{ page }}</a>
            </li>
    
            <!-- Next Button -->
            <li class="page-item" [class.disabled]="currentPage === totalPages" (click)="nextPage()">
              <a class="page-link" href="javascript:void(0)">»</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="newMemberModal" tabindex="-1" aria-labelledby="newMemberModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h5 class="modal-title" id="newMemberModalLabel">Add New Member</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- Modal Body -->
          <div class="modal-body">
            <form [formGroup]="memberForm" (ngSubmit)="addMember()">
              <div class="mb-3">
                <label for="customerName" class="form-label">Customer Name</label>
                <input type="text" class="form-control" id="customerName" formControlName="customerName" maxlength="50"
                  placeholder="Enter customer's name" required>
                <small class="text-muted">Max 50 characters</small>
                <div
                  *ngIf="memberForm.get('customerName')?.hasError('pattern') && memberForm.get('customerName')?.touched">
                  <small class="text-danger">Customer name must contain only letters, spaces, periods, and
                    hyphens.</small>
                </div>
              </div>

              <div class="mb-3">
                <label for="mobileNumber" class="form-label">Mobile Number</label>
                <input type="text" class="form-control" id="mobileNumber" formControlName="mobileNumber" maxlength="15"
                  placeholder="Enter mobile number" required>
                <small class="text-muted">Max 15 characters</small>
                <div
                  *ngIf="memberForm.get('mobileNumber')?.hasError('pattern') && memberForm.get('mobileNumber')?.touched">
                  <small class="text-danger">Mobile number must contain only digits (0-9).</small>
                </div>
              </div>

              <div class="mb-3">
                <label for="alternateNumber" class="form-label">Alternate Number</label>
                <input type="text" class="form-control" id="alternateNumber" formControlName="alternateNumber"
                  maxlength="15" placeholder="Enter alternate number" required>
                <small class="text-muted">Max 15 characters</small>
                <div
                  *ngIf="memberForm.get('alternateNumber')?.hasError('pattern') && memberForm.get('alternateNumber')?.touched">
                  <small class="text-danger">Alternate number must contain only digits (0-9).</small>
                </div>
              </div>

              <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <textarea class="form-control" id="address" formControlName="address" placeholder="Enter address"
                  maxlength="500" rows="3" required></textarea>
                <small class="text-muted">Max 500 characters</small>
                <div *ngIf="memberForm.get('address')?.hasError('pattern') && memberForm.get('address')?.touched">
                  <small class="text-danger">Address can contain spaces, slashes, dashes, numbers, and letters.</small>
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                <button [disabled]="memberForm.invalid" type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <!-- <h3>Customer List</h3> -->









    <!-- <div class="mb-10" *ngFor="let item of allCustomers"> -->
    <!--begin::Item-->
    <!-- <span class="custom-list d-flex align-items-center px-5 py-4"> -->
    <!--begin::Symbol-->
    <!-- <div class="symbol symbol-40px me-5"> -->
    <!-- <span class="symbol-label"> -->
    <!-- <img [src]="" class="h-50 align-self-center" alt="" /> -->
    <!-- </span> -->
    <!-- </div> -->
    <!--end::Symbol-->

    <!--begin::Description-->
    <!-- <div class="d-flex flex-column flex-grow-1"> -->
    <!--begin::Title-->
    <!-- <h5 class="custom-list-title fw-bold text-gray-800 mb-1"> -->
    <!-- {{item.customerName}} -->
    <!-- </h5> -->
    <!--end::Title-->

    <!--begin::Link-->
    <!-- <span class="text-gray-500 fw-bold">
        {{item.mobileNumber}}
      </span> -->
    <!--end::Link-->
    <!-- </div> -->
    <!--begin::Description-->
    <!-- </span> -->
    <!--end::Item-->
    <!-- </div> -->
    <!--end::Items-->
    <!-- </div> -->
    <!--end::Projects-->