

  <div class="d-flex justify-content-end fw-bold ms-3">
    <!-- Mark Attendance Text -->
    <div class="d-flex align-items-center">
      <span>Mark Attendance</span>
    </div>
  
    <!-- Button Group -->
    <div class="d-flex justify-content-end">
      <!-- Button for 4H -->
      <button 
        class="btn btn-sm btn-light-primary ms-2" 
        (click)="onToggleClick('P4')"
      >
        4H
      </button>
  
      <!-- Button for 6H -->
      <button 
        class="btn btn-sm btn-light-primary ms-2" 
        (click)="onToggleClick('P6')"
      >
        6H
      </button>
  
      <!-- Button for 8H -->
      <button 
        class="btn btn-sm btn-light-primary ms-2" 
        (click)="onToggleClick('P8')"
      >
        8H
      </button>
    </div>
  </div>
<app-customer-list></app-customer-list>
<app-incident-list></app-incident-list>
